# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/
ENV/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/

# Logs
*.log

# Large/model files - optional
*.pth
*.pt

# Temporary files
*.tmp
*.temp